@media screen and (max-width:1024px) {
    main{
        & .image {
            height: auto;
            & .banner{
                width: 60%;
            }
            & .logo{
                width: 50px;
            }
        }
        & .text {
            height: auto;
            & h3{
                width: 33.333%;
            }
        }
        & .service{
            & .sContainer .sCard{
                width: 90%;
            }
            & .topBtn{
                padding: 2%;
            }
        } 
        
        & .news .container .cardCntainer{
            width: 90%;
        }
    }
    footer{
        & .top{
            & .tContainer {
                width: 70%;
                flex-direction: column;
                & .video {
                    width: 100%;
                    padding: 5%;
                }
                & .text {
                    width: 100%;
                }
            }
        }
    }
}

@media  screen and (max-width:768px) {
    main .service .sContainer .sCard{
        width: 60%;

    }
    main .news .container .cardCntainer{
        width: 70%;
    }

    main .image .banner {
        width: 90%;
    }

    main .text h3{
        width: 60%;
    } 
}