@media screen and (max-width:1024px) {
    main{
        & .image {
            height: auto;
        }
        & .text {
            height: auto;
        }
        & .service .topBtn{
            padding: 2%;
        }
        & .news .container .cardCntainer{
            width: 90%;
        }
    }
    footer{
        & .top{
            & .tContainer {
                width: 70%;
                flex-direction: column;
                & .video {
                    width: 100%;
                    padding: 5%;
                }
                & .text {
                    width: 100%;
                }
            }
        }
    }
}

@media  screen and (max-width:768px) {
    .news .container .cardCntainer{
        width: 80%;
    }
}