@media screen and (max-width:1024px) {
    & main .image {
        height: 200px;
    }

    & main .text {
        height: auto;
    }

    & .tContainer {
        width: 80% ;
        flex-direction: column;

        & .video {
            width: 100% ;
            padding: 5%;
        }

        & .text {
            width: 100% ;
        }
    }

}